// cores pagina principal
$primaria:#4caf50;
$secundaria:#ff9800;
$neutra:#f4f4f4;
$texto-principal:#333333;
$texto-segundario:#777777;
$destaques:#2196f3;
// login colors
$bg-pg-lg:#E7E6E4;
$bg-lg:#FEFBFB;
$line-c:#4E97FD;
$line-c-s:#EEEDED;
$size-c:#025EDD;
$size-c-s:#050B1C;
// cores botoes login
$btn-c:#4BAE4F;
$btn-s: #4fcc53;
$size: 1rem;
$weight: 600;
// fontes pagina de login 
$font:"Nunito", sans-serif;
$font-w: 600;
$font-s: 1rem;
$font-s-12:1.2rem;
// designer
$line-al:1px;
$line-lg: 1rem;

